/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper .swiper-container {
  width: 100%;
}
.wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  background: #3498DB;
  padding: 20px;
  border-radius: 16px;
  color: white;
  position: relative;
}
.review {
  font-size: 1rem;
  padding-bottom: 60px; /* Add padding to avoid overlap with name and college */
}
.student-name,
.student-college {
  text-align: right;
  position: absolute;
  right: 20px;
}
.student-name {
  bottom: 40px;
  font-size: 1rem;
  font-weight: bold;
}
.student-college {
  bottom: 20px;
  font-size: 0.9rem;
  color: #ddd;
}

/* Swiper buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

@media screen and (max-width: 900px) {
  .wrapper .swiper-slide {
    width: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .swiper-slide {
    width: 100%;
  }
}
